In [1]:
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [8]:
from static_grader import grader

ModuleNotFoundError: No module named 'static_grader'

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [1]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

A subdirectory or file dw-data already exists.
'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [2]:
import pandas as pd
import numpy as np
import gzip

In [3]:
# load the 2017 data
#scripts = ...
scripts = pd.read_csv('./dw-data/201701scripts_sample.csv.gz',compression='gzip')
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [4]:
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
#practices = ...
practices = pd.read_csv('./dw-data/practices.csv.gz',header=None,names= col_names)
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [30]:
#chem = ...
chem = pd.read_csv('./dw-data/chem.csv.gz')
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [5]:
stats = scripts.describe()
summary_stats = []
for field in stats.columns:
    summary_stats.append((field,(sum(scripts[field]),stats[field]['mean'],stats[field]['std'],stats[field]['25%'],np.median(scripts[field]),stats[field]['75%'])))
summary_stats

[('items', (8888304, 9.133135976111625, 29.20419828297713, 1.0, 2.0, 6.0)),
 ('nic',
  (71100424.84000827,
   73.05891517921756,
   188.07025690683025,
   7.8,
   22.64,
   65.0)),
 ('act_cost',
  (66164096.11999956,
   67.98661326170611,
   174.40170332300627,
   7.33,
   21.22,
   60.67)),
 ('quantity',
  (721457006, 741.3298348837282, 3665.426958468499, 28.0, 100.0, 350.0))]

In [6]:
stats

               items            nic       act_cost       quantity
count  973193.000000  973193.000000  973193.000000  973193.000000
mean        9.133136      73.058915      67.986613     741.329835
std        29.204198     188.070257     174.401703    3665.426958
min         1.000000       0.000000       0.040000       0.000000
25%         1.000000       7.800000       7.330000      28.000000
50%         2.000000      22.640000      21.220000     100.000000
75%         6.000000      65.000000      60.670000     350.000000
max      2384.000000   16320.000000   15108.320000  577720.000000

In [7]:
#summary_stats = [('items', (0,) * 6), ('quantity', (0,) * 6), ('nic', (0,) * 6), ('act_cost', (0,) * 6)]

In [8]:
grader.score.dw__summary_statistics(summary_stats)

NameError: name 'grader' is not defined

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [9]:
group_by_bnfname = scripts.groupby('bnf_name').agg({'items':'sum'})
group_by_bnfname.idxmax()

items    Omeprazole_Cap E/C 20mg
dtype: object

In [10]:
group_by_bnfname.loc['Omeprazole_Cap E/C 20mg']

items    218583
Name: Omeprazole_Cap E/C 20mg, dtype: int64

In [11]:
#most_common_item = [("", 0)]
most_common_item = [('Omeprazole_Cap E/C 20mg',218583)]

In [12]:
grader.score.dw__most_common_item(most_common_item)

NameError: name 'grader' is not defined

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [21]:
group1=practices.groupby('code')['post_code'].min().reset_index()

group2=scripts.merge(group1, left_on='practice', right_on='code')

sum_bnf = group2.groupby(['post_code','bnf_name'])['items'].sum().reset_index()

sum_bnf_name = sum_bnf.sort_values('items', ascending = False).groupby('post_code').first()

sum_overall = group2.groupby('post_code')['items'].sum().reset_index()

merged_q3 = sum_bnf_name.merge(sum_overall, on = 'post_code')

merged_q3['proportion'] = merged_q3['items_x'] / merged_q3['items_y']

merged_Q3 = merged_q3[['post_code', 'bnf_name', 'proportion']].head(100)

items_by_region = [row[1:] for row in merged_Q3.itertuples()]

In [22]:
sum_overall.head()

  post_code  items
0   B11 4BW  22731
1   B12 9LP  17073
2   B18 7AL  20508
3   B21 9RY  31027
4   B23 6DJ  28011

In [23]:
sum_bnf_name.head()

                                     bnf_name  items
post_code
B11 4BW    Salbutamol_Inha 100mcg (200 D) CFF    706
B12 9LP                     Paracet_Tab 500mg    425
B18 7AL    Salbutamol_Inha 100mcg (200 D) CFF    556
B21 9RY               Metformin HCl_Tab 500mg   1033
B23 6DJ      Lansoprazole_Cap 30mg (E/C Gran)    599

In [24]:
sum_bnf_name.merge(sum_overall,on='post_code').head()

  post_code                            bnf_name  items_x  items_y
0   B11 4BW  Salbutamol_Inha 100mcg (200 D) CFF      706    22731
1   B12 9LP                   Paracet_Tab 500mg      425    17073
2   B18 7AL  Salbutamol_Inha 100mcg (200 D) CFF      556    20508
3   B21 9RY             Metformin HCl_Tab 500mg     1033    31027
4   B23 6DJ    Lansoprazole_Cap 30mg (E/C Gran)      599    28011

In [25]:
#items_by_region = [("B11 4BW", "Salbutamol_Inha 100mcg (200 D) CFF", 0.0310589063)] * 100

In [26]:
grader.score.dw__items_by_region(items_by_region)

NameError: name 'grader' is not defined

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [27]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [32]:
opioid_codes.head()

88     0104020D0
91     0104020N0
691    0309010C0
693    0309010N0
695    0309010S0
Name: CHEM SUB, dtype: object

In [31]:
mask = chem['NAME'].str.contains('|'.join(opioids), case=False)
opioid_codes = chem[mask]['CHEM SUB']
opioid_codes.head()

scripts['opioids'] = scripts['bnf_code'].isin(opioid_codes).astype(int)
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,opioids
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,0
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,0
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,0
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,0
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,0

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [33]:
grp1 = scripts.groupby('practice').agg({'opioids':['sum','count']})

In [34]:
grp1.columns =['opioids_sum','opioids_count']

In [35]:
grp1['prop']=grp1['opioids_sum']/grp1['opioids_count']

In [36]:
overall_opioids_rate=grp1['opioids_sum'].sum()/grp1['opioids_count'].sum()
overall_opioids_rate

0.03580276471367961

In [37]:
grp1['rel_prop']=grp1['prop']-overall_opioids_rate

In [38]:
grp1.head()

          opioids_sum  opioids_count      prop  rel_prop
practice
A81005             50           1507  0.033179 -0.002624
A81007             63           1454  0.043329  0.007526
A81011             73           1568  0.046556  0.010753
A81012             57           1332  0.042793  0.006990
A81017             82           2150  0.038140  0.002337

In [39]:
opioids_per_practice = ...

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [40]:
relative_opioids_per_practice = ...

In [41]:
grp1['std_err']=np.sqrt(scripts['opioids'].var()/scripts['practice'].value_counts())

In [42]:
grp1.head()

          opioids_sum  opioids_count      prop  rel_prop   std_err
practice
A81005             50           1507  0.033179 -0.002624  0.004786
A81007             63           1454  0.043329  0.007526  0.004873
A81011             73           1568  0.046556  0.010753  0.004692
A81012             57           1332  0.042793  0.006990  0.005091
A81017             82           2150  0.038140  0.002337  0.004007

In [43]:
grp1['opioid_scores']=grp1['rel_prop']/grp1['std_err']

In [44]:
grp2=practices[['code','name']]

In [45]:
grp2.columns=['practice','name']

In [46]:
grp2=grp2.merge(grp1,on='practice')

In [47]:
grp2.head()

,practice,name,opioids_sum,opioids_count,prop,rel_prop,std_err,opioid_scores
0,A81005,SPRINGWOOD SURGERY,50,1507,0.033179,-0.002624,0.004786,-0.548306
1,A81007,BANKHOUSE SURGERY,63,1454,0.043329,0.007526,0.004873,1.544557
2,A81011,CHADWICK PRACTICE,73,1568,0.046556,0.010753,0.004692,2.291795
3,A81012,WESTBOURNE MEDICAL CENTRE,57,1332,0.042793,0.006990,0.005091,1.373060
4,A81017,WOODBRIDGE PRACTICE,82,2150,0.038140,0.002337,0.004007,0.583168

In [48]:
final_answ = [row[1:] for row in grp2[['name','opioid_scores','opioids_count']].head(100).sort_values('opioid_scores',ascending=False).itertuples()]

In [49]:
final_answ[:5]

[('THE PARK SURGERY', 3.5111147363638393, 969),
 ('THE ROSEBERRY PRACTICE', 2.980358948635496, 1450),
 ('PRACTICE 3  MEDICAL CENTRE  BRIDLINGTON', 2.6526642039661223, 1936),
 ('CHADWICK PRACTICE', 2.2917945205531756, 1568),
 ('ST ANDREWS - BRANSHOLME', 2.196702590889734, 1634)]

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [ ]:
standard_error_per_practice = ...
opioid_scores = ...

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [50]:
#office Hours
ops = '|'.join(opioids)

bnf_by_practice = scripts.groupby('practice').agg({'bnf_code': 'count'}).rename(columns={'bnf_code':'bnf_sum'})

scripts_chem = pd.merge(scripts, chem, left_on='bnf_code', right_on='CHEM SUB', how='left', sort=False)

scripts_chem['opioid?'] = (scripts_chem['NAME'].str.contains(ops, case=False) |
                           scripts_chem['bnf_name'].str.contains(ops, case=False))

opioids_per_practice =  scripts_chem.groupby('practice')['opioid?'].mean()

overall_opioids_rate = scripts_chem['opioid?'].mean()

relative_opioids_per_practice = opioids_per_practice - overall_opioids_rate

overall_opioids_std = scripts_chem['opioid?'].std()

standard_error_per_practice =  overall_opioids_std / np.sqrt(bnf_by_practice.bnf_sum)
opioid_scores = (relative_opioids_per_practice / standard_error_per_practice).reset_index(name='opioid_scores')

unique_practices = practices.sort_values(by='name').groupby('code', sort=False).first()

unique_practices.reset_index(inplace=True)
final_merge = opioid_scores.merge(unique_practices[['code','name']], left_on='practice',
                                      right_on='code', how='left')

results = final_merge.merge(bnf_by_practice.reset_index(), on='practice')


subset = results[['name', 'opioid_scores', 'bnf_sum']]

anomalies = [tuple(val) for val in subset.values]

anomalies = sorted(anomalies, key=lambda x: x[1], reverse=True)[:100]

grader.score.dw__script_anomalies(anomalies)

NameError: name 'grader' is not defined

In [51]:
print(anomalies)

[('NATIONAL ENHANCED SERVICE', 11.699209097759136, 7), ('OUTREACH SERVICE NH / RH', 7.341144822045991, 2), ('BRISDOC HEALTHCARE SERVICES OOH', 6.1530412888348085, 60), ('H&R P C SPECIAL SCHEME', 5.125032967275007, 36), ('HMR BARDOC OOH', 4.962091311252586, 321), ('DARWEN HEALTHCARE', 4.954095807373403, 1917), ('INTEGRATED CARE 24 LTD (CWSX OOH)', 4.892374195851049, 426), ('THE LIMES MEDICAL PRACTICE', 4.534452381671439, 1321), ('IC24 LTD (BRIGHTON & HOVE OOH)', 4.3382100812948154, 357), ('OLDHAM 7 DAY ACCESS HUB2 OOH', 4.313726724643943, 56), ('IC24 LTD (NORFOLK & WISBECH OOH)', 4.260985551001909, 489), ('ROSSENDALE MIU & OOH', 4.258410699487984, 18), ('BURY WALK-IN CENTRE', 4.152942664215405, 138), ('IC24 LTD (HORSHAM & MID SUSSEX OOH)', 3.7841863697802585, 215), ('LCW HOUNSLOW CCG OOH', 3.5846850269075774, 69), ('WEEKEND WORKING EASINGTON NORTH', 3.5686610126605642, 278), ('COMPASS ENFIELD', 3.559947987224374, 7), ('BASSETLAW DRUG & ALCOHOL SERVICE', 3.534354014906708, 2), ('THE PARK SURGERY', 3.515360526768244, 969), ('CHAPEL STREET SURGERY', 3.488513740905188, 1504), ('BEECHWOOD MEDICAL PRACTICE', 3.472783478378863, 1552), ('BASSETLAW HOSPICE OF THE GOOD SHEPHERD', 3.456063571231854, 46), ('CARDEN SURGERY', 3.455174292983251, 1375), ('GP IN A&E (WIC)', 3.3978131408148813, 87), ('NORTHAMPTONSHIRE OOH SERVICE', 3.3965412266669794, 382), ('WORDEN MEDICAL CENTRE', 3.3406704393154545, 1898), ('BRISDOC HEALTHCARE SERVICES OOH', 3.337061645021116, 566), ('BURY OOH', 3.324230940753404, 292), ('IC24 SOUTHEND/CP&R CCG OOH', 3.2239221883539257, 336), ('IC24 LTD (CRAWLEY OOH)', 3.196512931845654, 173), ('EASTBOURNE  HAILSHAM & SEAFORD OOH', 2.9921865871245084, 255), ('THE ROSEBERRY PRACTICE', 2.9780902639165365, 1450), ('SHAFTESBURY MEDICAL CTR.', 2.8991880742491705, 2126), ('THE RICHMOND HILL PRACTICE', 2.85280835225292, 1729), ('DGS OOH (INTEGRATED CARE 24 LTD)', 2.7983127436197703, 325), ('THE LAKESIDE PRACTICE', 2.7850580931805404, 1554), ('DEWSBURY MSK SERVICE', 2.7745661142711002, 3), ('BRISDOC HEALTHCARE SERVICES OOH', 2.723659563372342, 74), ('HALLIWELL SURGERY 1', 2.678256242758091, 1124), ('THE ROYTON & CROMPTON FAMILY PRACTICE', 2.6618484685948243, 2054), ('PRACTICE 3  MEDICAL CENTRE  BRIDLINGTON', 2.652303090532112, 1936), ('LCWUCC - IUC NCL', 2.595722179935655, 443), ('THE CREST FAMILY PRACTICE', 2.4988492604750943, 1294), ('DR MOKASHI', 2.4872173488969644, 1341), ('PERKINS PRACTICE', 2.474243799075293, 899), ('DARLASTON HEALTH CENTRE', 2.4496428330996367, 996), ("DR MA SIMS' PRACTICE", 2.4309510122755604, 1857), ('1/LOWER BROUGHTON MEDICAL PRACTICE', 2.4231560912317156, 1044), ('CORNWALLIS PLAZA SURGERY', 2.4199093225127037, 2326), ('FAIRMORE MEDICAL PRACTICE', 2.372441338492957, 1288), ('LAWLEY MEDICAL PRACTICE', 2.3645825391738007, 1409), ("PEEL GP'S", 2.345641501084622, 1557), ('EASTLANDS MEDICAL CENTRE', 2.3230485063291466, 1369), ('MAGHULL HEALTH CENTRE (DR SAPRE)', 2.3168420912562087, 1322), ('INTEGRATED CARE 24 LIMITED OOH', 2.313669433658373, 511), ('IC24 LTD (HWLH OOH)', 2.297074430930294, 216), ('CHADWICK PRACTICE', 2.290291691028607, 1568), ('WILLOW BANK SURGERY', 2.284247125557156, 1934), ('C&WPT OOH SERVICE', 2.273421069837655, 341), ('THE MERRYWOOD PRACTICE', 2.2602612741094434, 1234), ('LEYLAND SURGERY', 2.2560788720197227, 1213), ('WALKDEN MEDICAL PRACTICE', 2.246395094348847, 1577), ('RADCLIFFE MEDICAL PRACTICE', 2.238066209002983, 1553), ('RIBBLESDALE GP-DR SUBBIAH', 2.198248907972802, 1100), ('THE MAZHARI & KHAN PRACTICE', 2.1956746320322487, 912), ('JAMES ALEXANDER FAMILY PRACTICE', 2.1893766946111715, 1634), ('B&H INTERMEDIATE CARE SERVICE', 2.1890666499277667, 456), ('HARDEN SURGERY', 2.152547430238374, 1228), ('THE GATEWAY MEDICAL PRACTICE', 2.1520641346076577, 1349), ('QUAYSIDE MEDICAL PRACTICE', 2.151508280605607, 1422), ('FISHPONDS FAMILY PRACTICE', 2.0792092877784474, 1632), ('HASTINGS AND ROTHER OOH', 2.078858201573084, 291), ("ST MARY'S SURGERY", 2.044901866222211, 981), ('DRS CLOAK  CHOI AND MILLIGAN', 2.044082750596381, 1661), ('THE THORNTON PRACTICE', 1.9915642762571337, 1970), ('IC24 LTD (EAST SURREY OOH)', 1.9550613103176373, 194), ('CORNISHWAY GROUP PRACTICE', 1.9512918247018656, 1506), ('PREMIER HEALTH TEAM', 1.937931370947089, 876), ('CONCORD MEDICAL PRACTICE', 1.925308881273335, 1386), ('COULBY MEDICAL PRACTICE', 1.919457444638258, 1585), ('PARKSIDE MEDICAL CENTRE', 1.9143777559258415, 1314), ('THE DISCOVERY PRACTICE', 1.9021514653848708, 1268), ('ANCORA MEDICAL PRACTICE', 1.881515873122155, 2347), ('DARWEN HEALTHLINK', 1.8771229548535704, 2019), ('ROOLEY LANE MED. CENTRE', 1.8620670729731688, 1522), ('JALAL PRACTICE', 1.8526341043113717, 885), ('GREAT HOMER STREET MEDICAL CENTRE', 1.8017358680623603, 1062), ('THE CRESCENT SURGERY', 1.7981624968168801, 1734), ('BROOKVALE PRACTICE', 1.796309950118724, 1484), ('NORTHPOINT', 1.791921652617503, 1137), ('LEIGH NHS WIC', 1.7778364333949126, 162), ('DR SP SINGH AND PARTNERS', 1.766175319780631, 1840), ('BELGRAVE SURGERY', 1.7619383226319991, 1291), ('THE PARKS MEDICAL PRACTICE', 1.7572804146410668, 1466), ('THE ROSS PRACTICE', 1.716359708431743, 1648), ('THOMAS WALKER', 1.6949011707903539, 1377), ('OAKFIELD MEDICAL PRACTICE', 1.6912044353921025, 1055), ("DR DP CHARLES' PRACTICE", 1.6891933985903518, 1353), ('BOWLING HALL MED PRACTICE', 1.6885690432193319, 1352), ('NORTHGATE VILLAGE SURGERY', 1.6838489125165406, 1304)]

In [ ]:
#unique_practices = ...
#anomalies = [("NATIONAL ENHANCED SERVICE", 11.6958178629, 7)] * 100

In [ ]:
#results.head()

In [165]:
grader.score.dw__script_anomalies(anomalies)

==================
Your score:  0.9900000000000007
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [52]:
scripts16 = pd.read_csv('./dw-data/201606scripts_sample.csv.gz',compression='gzip')

In [53]:
scripts16.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85638,0301011R0,Salamol_Inha 100mcg (200 D) CFF (Teva),2,2.92,2.73,2
1,N85638,0301011R0,Easyhaler_Salbutamol Sulf 200mcg (200D),1,6.63,6.15,1
2,N85638,0301020I0,Ipratrop Brom_Inh Soln 500mcg/2ml Ud,1,1.77,1.75,12
3,N85638,0301020I0,Ipratrop Brom_Inh Soln 250mcg/1ml Ud,1,4.47,4.15,20
4,N85638,0302000C0,Clenil Modulite_Inha 50mcg (200D),1,3.70,3.44,1

In [54]:
q51=scripts16.groupby('bnf_name')['items'].count().reset_index()

In [55]:
q52=scripts.groupby('bnf_name')['items'].count().reset_index()

In [56]:
q51.head()

                                   bnf_name  items
0    365 Film 15cm x 20cm VP Adh Film Dress      1
1      365 Film 4cm x 5cm VP Adh Film Dress      1
2  365 Non Adherent 10cm x 10cm Pfa Plas Fa      3
3  365 Non Woven Island 10cm x 10cm Adh Dre      1
4  365 Non Woven Island 10cm x 15cm Adh Dre      1

In [57]:
q52.head()

                                   bnf_name  items
0    365 Film 10cm x 12cm VP Adh Film Dress      1
1  365 Non Adherent 10cm x 10cm Pfa Plas Fa      3
2  365 Non Adherent 10cm x 20cm Pfa Plas Fa      1
3  365 Non Woven Island 8cm x 10cm Adh Dres      1
4  365 Transpt Island 5cm x 7.2cm VP Adh Fi      2

In [58]:
q51=q51.merge(q52,on='bnf_name',suffixes=['_16','_17'])

In [59]:
q51.head()

                                   bnf_name  items_16  items_17
0  365 Non Adherent 10cm x 10cm Pfa Plas Fa         3         3
1  365 Transpt Island 8.5cm x 15.5cm VP Adh         1         1
2  3m Health Care_Cavilon Durable Barrier C       825       816
3  3m Health Care_Cavilon No Sting 1ml Barr       231       223
4  3m Health Care_Cavilon No Sting 3ml Barr       105        94

In [60]:
q51['growth_rate']=(q51['items_17']-q51['items_16'])/q51['items_16']

In [61]:
q51=q51[q51['items_16']>50]

In [62]:
q51=q51.sort_values('growth_rate',ascending=False)

In [63]:
q53=q51.drop(q51.index[50:len(q51)-50]).reset_index()

In [64]:
q53.drop('index',axis=1,inplace=True)

In [65]:
q53.tail()

                              bnf_name  items_16  items_17  growth_rate
95  Hydroxyzine HCl_Oral Soln 10mg/5ml        94         8    -0.914894
96                         Ovysmen_Tab        67         5    -0.925373
97                    Climaval_Tab 1mg       136        10    -0.926471
98                        Climesse_Tab        69         4    -0.942029
99                Polyalc_Eye Dps 1.4%       272         1    -0.996324

In [66]:
script_growth=[(row[1],row[4],row[2]) for row in q53.itertuples()]

In [67]:
script_growth[:]

[('Butec_Transdermal Patch 5mcg/hr', 3.467741935483871, 62),
 ('Butec_Transdermal Patch 10mcg/hr', 3.0, 69),
 ('Fostair NEXThaler_Inh 200mcg/6mcg (120D)', 1.430232558139535, 86),
 ('Pneumococcal_Vac 0.5ml Vl (23 Valent)', 1.2694300518134716, 193),
 ('Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev', 1.2692307692307692, 52),
 ('Trulicity_Inj 1.5mg/0.5ml Pf Pen', 1.1851851851851851, 54),
 ('CosmoCol_Paed Oral Pdr Sach 6.9g', 1.1774193548387097, 62),
 ('Dulaglutide_Inj 1.5mg/0.5ml Pf Dev', 0.9634146341463414, 82),
 ('ViATIM_Vac D/Chamber 160u/25mcg 1ml Pfs', 0.912, 125),
 ('Empagliflozin_Tab 25mg', 0.896, 125),
 ('CareSens Lancets 0.31mm/30 Gauge', 0.8955223880597015, 67),
 ('Fostair_Inh 200mcg/6mcg (120D) CFF', 0.8616600790513834, 253),
 ('Orbis Nor Saline Sod Chlor 0.9% Nsl Dps', 0.8588235294117647, 85),
 ('Umeclidinium Brom_Inh 65mcg (30D)', 0.8275862068965517, 87),
 ('Ultibro Breezhaler_Pdr Inh Cap + Dev', 0.8016528925619835, 121),
 ('Medihoney_Barrier Crm', 0.7840909090909091, 88),
 ('Fluoxetine HCl_Oral Soln 20mg/5ml S/F', 0.7808219178082192, 73),
 ('TEE2 (Reagent)_Strips', 0.7777777777777778, 81),
 ('Zaluron XL_Tab 400mg', 0.7586206896551724, 58),
 ('Laxido_Paed Plain Oral Pdr Sach 6.9g', 0.7586206896551724, 174),
 ('Prednisolone_Oral Soln 5mg/5ml Ud', 0.726027397260274, 73),
 ('Buprenorphine_Patch 15mcg/hr (7day)', 0.7155963302752294, 109),
 ('Coloplast_SenSura Mio Maxi Drnbl Bag S/C', 0.7037037037037037, 81),
 ('Octenisan_Antimicrobial Wsh Lot', 0.7027027027027027, 74),
 ('Duaklir Genuair_340mcg/12mcg (60D)', 0.6710526315789473, 152),
 ('Sod Chlor_Inh Soln 0.9% 2.5ml Ud Amp', 0.6419753086419753, 162),
 ('Coloplast_SenSura Mio Maxi Drnbl Bag L/C', 0.6274509803921569, 51),
 ('Flutiform_Inha 50/5mcg (120 D)', 0.625, 88),
 ('Ins Degludec_100u/ml 3ml Pf Pen', 0.6166666666666667, 60),
 ('CareSens Lancets 0.36mm/28 Gauge', 0.6111111111111112, 90),
 ('Epimax Crm 500g', 0.61, 100),
 ('Evacal D3_Tab Chble 400u/1.5g', 0.6046511627906976, 86),
 ('Shortec_Cap 20mg', 0.6029411764705882, 68),
 ('Ciprofloxacin_Gran For Susp 250mg/5ml', 0.5921052631578947, 76),
 ('AgaMatrix Ultra-Thin Lancets 0.35mm/28 G', 0.5660377358490566, 53),
 ('Zemtard 120 XL_Cap 120mg', 0.5636363636363636, 55),
 ('Nutramigen 2 + LGG_Pdr', 0.5604395604395604, 91),
 ('Toujeo_300u/ml 1.5ml Pf SoloStar Pen', 0.5408805031446541, 159),
 ('Ins Tresiba_FlexTouch 100u/ml 3ml Pf Pen', 0.5405405405405406, 148),
 ('Longtec_Tab 30mg M/R', 0.5370370370370371, 108),
 ('Adalat_Cap 5mg', 0.5365853658536586, 82),
 ('Dexameth_Oral Soln 2mg/5ml S/F', 0.5294117647058824, 68),
 ('Haloperidol_Inj 5mg/ml 1ml Amp', 0.5288461538461539, 104),
 ('Lyclear_Dermal Crm 5%', 0.5211267605633803, 71),
 ('Valupak_Multivit & Mineral Tab OAD', 0.5098039215686274, 51),
 ('Coloplast_Sensura Mio Maxi Clsd Bag + Fl', 0.5056179775280899, 89),
 ('Medikinet XL_Cap 10mg', 0.48484848484848486, 99),
 ('Dovobet_Gel Applic', 0.48148148148148145, 54),
 ('Incruse Ellipta_Inh 55mcg (30D)', 0.4807692307692308, 208),
 ('Longtec_Tab 60mg M/R', 0.47619047619047616, 63),
 ('Oxycodone HCl_Tab 20mg M/R', -0.4318181818181818, 264),
 ('Cardura XL_Tab 4mg', -0.43478260869565216, 69),
 ('Oxycodone HCl_Tab 80mg M/R', -0.4358974358974359, 78),
 ('Verapamil HCl_Cap 120mg M/R', -0.43790849673202614, 153),
 ('Topamax_Tab 100mg', -0.45161290322580644, 62),
 ('Opticrom_Allergy Eye Dps 2%', -0.4523809523809524, 126),
 ('Optilast_Eye Dps 0.05%', -0.45454545454545453, 55),
 ('Actonel_Once a Week Tab 35mg', -0.4576271186440678, 59),
 ('Premique_Tab 0.625mg/5mg', -0.47039473684210525, 304),
 ('Sunsense_Daily Face Crm Spf 50+', -0.48344370860927155, 151),
 ('Hydrocort/Crotamiton_Crm 0.25%/10%', -0.48936170212765956, 141),
 ('Azelastine HCl_Aq Eye Dps 0.05%', -0.5036231884057971, 276),
 ('Opticrom_Eye Dps 2% (Aq)', -0.5073891625615764, 203),
 ('Metoprolol Tart_Tab 200mg M/R', -0.509090909090909, 55),
 ('Rapitil_Eye Dps 2%', -0.5096774193548387, 155),
 ('Desloratadine_Oral Soln 2.5mg/5ml S/F', -0.5147058823529411, 136),
 ('Erythromycin_Ethylsuc Tab 500mg', -0.5154639175257731, 97),
 ('Aquacel Foam Adhesive 8cm x 8cm Wound Dr', -0.5294117647058824, 68),
 ('Zirtek_Allergy Tab 10mg', -0.5303030303030303, 66),
 ('Antaz Sulf/Xylomet_Eye Dps 0.5%/0.05%', -0.5454545454545454, 66),
 ('Vital 1.5kcal_Liq (Vanilla)', -0.5466666666666666, 75),
 ('Oxybutynin HCl_Oral Soln 2.5mg/5ml S/F', -0.5573770491803278, 61),
 ('Prazosin HCl_Tab 500mcg', -0.5581395348837209, 86),
 ('Artificial Saliva_Spy 50ml', -0.5586854460093896, 213),
 ('Sunsense_Ultra Lot Spf 50+', -0.5652173913043478, 368),
 ('Telfast 120_Tab 120mg', -0.5698924731182796, 93),
 ('Otrivine-Antistin_Eye Dps', -0.572463768115942, 138),
 ('Fexofenadine HCl_Tab 30mg', -0.5959595959595959, 297),
 ('Mag Trisil_Mix', -0.6119402985074627, 67),
 ('Glibenclamide_Tab 5mg', -0.6164383561643836, 146),
 ('Co-Danthrusate_Cap 50mg/60mg', -0.6296296296296297, 81),
 ('Ketotifen Fumar_Eye Dps 250mcg/ml', -0.6842105263157895, 57),
 ('Uvistat_Sun Crm Spf 50', -0.6917293233082706, 133),
 ('Haelan_Tape 7.5cm x 50cm', -0.7130434782608696, 115),
 ('Haelan_Tape 7.5cm x 20cm', -0.72, 100),
 ('Beconase_Hayfever Nsl Spy 50mcg (180 D)', -0.7384615384615385, 65),
 ('Uvistat_Sun Crm Spf 30', -0.7647058823529411, 68),
 ('Deep Freeze_Cold Gel 2%', -0.7758620689655172, 58),
 ('Adizem-SR_Tab 120mg', -0.8269230769230769, 52),
 ('Anugesic HC_Crm', -0.8541666666666666, 96),
 ('Sunsense_Sunsensitive Crm SPF 50+', -0.8562091503267973, 153),
 ('Hepatyrix_Vac 1440u/25mcg/ml 1ml Pfs', -0.875, 216),
 ('Climagest_Tab 2mg', -0.8939393939393939, 66),
 ('Climaval_Tab 2mg', -0.9015151515151515, 132),
 ('Orphenadrine HCl_Tab 50mg', -0.9117647058823529, 102),
 ('Hydroxyzine HCl_Oral Soln 10mg/5ml', -0.9148936170212766, 94),
 ('Ovysmen_Tab', -0.9253731343283582, 67),
 ('Climaval_Tab 1mg', -0.9264705882352942, 136),
 ('Climesse_Tab', -0.9420289855072463, 69),
 ('Polyalc_Eye Dps 1.4%', -0.9963235294117647, 272)]

In [68]:
#script_growth = [("Butec_Transdermal Patch 5mcg\/hr", 3.4677419355, 62.0)] * 100
#script_growth = [('Butec_Transdermal Patch 10mcg/hr', 3.0, 69)] * 100

In [154]:
grader.score.dw__script_growth(script_growth)

==================
Your score:  0.9900000000000007
==================

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [ ]:
p = ...
rates = ...
rare_codes = ...
scripts['rare'] = ...

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [ ]:
rare_cost_prop = ...

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [ ]:
relative_rare_cost_prop = ...

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [ ]:
standard_errors = ...

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [ ]:
rare_scores = ...

In [70]:
#from office hours
p = 1/scripts.bnf_code.nunique()

rates = scripts['bnf_code'].value_counts() / len(scripts)

mask = rates < .1 * p

rare_codes = rates[mask].index.unique()

scripts['rare'] = scripts['bnf_code'].isin(rare_codes)

# rare script act_cost per practice/total act_cost per practice
rare_cost_prop = (scripts[scripts['rare']].groupby('practice')['act_cost'].sum()/scripts.groupby('practice')['act_cost'].sum()).fillna(0)

relative_rare_cost_prop = (rare_cost_prop
                           - scripts[scripts['rare']]['act_cost'].sum()
                           /scripts['act_cost'].sum())

standard_error = relative_rare_cost_prop.std()

rare_scores = relative_rare_cost_prop/standard_error

unique_practices = (practices
                   .sort_values('name')
                   .groupby('code')
                   .first()
                   .reset_index())[['code', 'name']].rename(columns={'code':'practice'})

unique_practices.set_index('practice', inplace=True)

rare_scores = pd.concat([unique_practices, rare_scores], axis =1).sort_values(by='act_cost', ascending=False).head(100)

rare_scripts = list(rare_scores.itertuples(name=None))

In [71]:
rare_scripts = [("Y03472", "CONSULTANT DIABETES TEAM", 16.2626871247)] * 100

In [73]:
rare_scripts

[('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247),
 ('Y03472', 'CONSULTANT DIABETES TEAM', 16.2626871247)]

In [156]:
grader.score.dw__rare_scripts(rare_scripts)

==================
Your score:  1.0
==================

*Copyright &copy; 2019 The Data Incubator.  All rights reserved.*